/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U &lt 5 I &kp O &kp P
                &kp A &kp S &kp D &kp F &kp G   &kp LS(LG(S)) &kp MINUS &kp H &kp J &kp K &kp L &kp SQT
                &mt LEFT_SHIFT Z &kp X &kp C &kp V &kp B &kp COLON &kp SEMICOLON &kp N &kp M &kp COMMA &kp DOT &kp SLASH
                &kp LCTRL &kp LEFT_WIN &kp LEFT_ALT &lt_to_layer_0 6 INT_HENKAN &lt 2 SPACE &lt_to_layer_0 3 INT_MUHENKAN &kp BACKSPACE &lt 1 ENTER &kp DEL
            >;

            /* ★ここが重要（スクロールの細かさ調整） */
            sensor-bindings = <&inc_dec_msc SCRL_DOWN SCRL_UP>;
        };

        ARROW {
            bindings = <
                &kp ESCAPE &kp LC(LS(TAB)) &kp UP_ARROW &kp LC(TAB) &trans
                &kp HOME &kp LEFT_ARROW &kp DOWN_ARROW &kp RIGHT_ARROW &kp END
                &kp LEFT_SHIFT &kp LG(LS(LEFT_ARROW)) &trans &kp LG(LS(RIGHT_ARROW))
                &trans &trans &trans &trans
            >;

            /* 同じくここ */
            sensor-bindings = <&inc_dec_msc SCRL_DOWN SCRL_UP>;
        };
    };
};
